body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

img {
    width: 200px;
    height: 200px;
    border: #0b2e13;
    border-width: 10px;
    border-style: solid;
}

#prev-image, #curr-image, #board-container{
    margin: 10px;
    padding: 10px;
}

button {
    margin-bottom: 5px;
}